
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 850px;
  transition: width 0.5s;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .markdown-body {
    padding: 15px;
    max-width: 767px;
  }
}
@media screen and (max-width: 1080px) {
  .markdown-body {
    max-width: 620px;
  }
}