
$primary-color: #49b1f5;
$primary-color-active: #1E90FF;
$primary-color-sub: #6495ED;
$blog-color-gray-1: #696969;
$blog-color-gray-2: #C0C0C0;
$blog-color-gray-3: #e4e6eb;
$blog-font-1: #252933;
$blog-font-2: #515767;
$blog-font-3: #8a919f;
$blog-font-4: #c2c8d1;